*{
    font-family: 'Source sans 3';
    font-weight: 350;
}

form {
background-color: #f9f9f9;
padding: 20px;
border-radius: 5px;
max-width: 400px;
margin: 0 auto;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form label {
display: block;
margin-bottom: 5px;
font-weight: bold;
color: #333;
}

form input, form select {
width: 100%;
padding: 10px;
margin-bottom: 10px;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 14px;
box-sizing: border-box;
}

form button {
background-color: #4CAF50;
color: white;
border: none;
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
font-size: 14px;
}

form button:hover {
background-color: #45a049;
}

h1 {
text-align: center;
color: #333;
margin-bottom: 20px;
}

a.button {
display: inline-block;
padding: 10px 20px;
margin-top: 10px;
background-color: #ccc;
color: #333;
text-decoration: none;
border-radius: 5px;
text-align: center;
}

a.button:hover {
background-color: #bbb;
}

body {
font-family: Arial, sans-serif;
background-color: #f4f4f4;
margin: 0;
padding: 0;

}
.message {

font-weight: 400;
margin-top: 10px;
text-align: center;
}
.message.error{
color: red;
}
.message.success{
color: #4CAF50;
}
.pass-container{
    position: relative;

}
#eyeIcon{
    position: absolute;
    right: 15px; 
    top: 40%; 
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    color: #6a6a6a;
    font-size: 14px;
}
.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-container input[type="password"],
.password-container input[type="text"] {
    width: 100%;
    padding-right: 30px; /* Space for the eye icon */
}

.password-toggle-icon {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
    color: #999;
}

.password-toggle-icon:hover {
    color: #333;
}

