@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Cinzel:wght@400..900&display=swap');
*{
    font-family: "Source sans 3", serif;
    font-weight: 320;
}   
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    
    background: #e2f5fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-container {
    text-align: center;
    padding: 0;
    margin: 0;
    border: none;
    font-weight: 500;  
    display: flex;
}

.header-container h1{
    font-family: 'Balsamiq sans';
    font-weight: 600;
    font-size: 35px;
    color: #25313E;
}
.container {
    max-width: 300px;
    width: 100%;
    padding: 10px;
    background-color: #ffffffee;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    text-align: center;
    margin-bottom: 10px;
}

    


.login-container {
    max-width: 300px;
    padding: 0 20px 15px 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    text-align: center;
    
}

.login-container h1 {
    margin-bottom: 20px;
    font-weight: 450;
}


.login-container label {
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
}

.login-container input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #000000;
    font-weight: 400;
}

.login-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #25313E;
    color: #fff;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #1a232c;
}

.login-container2 {
    max-width: 300px;
    margin-top: 10px;
    padding: 0 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    text-align: center;
}

.login-container2 p, .login-container2 a {
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    color: black;
}

.login-container2 a {
    color: #0213ff;
}

.login-container2 a:hover {
    text-decoration: underline;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    
}
footer a{
    color: #000000;
    text-decoration: none;
}
footer a:hover {
    color: #0213ff;
    text-decoration: underline;
}

.error{
    color: red;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
}
.pass-container{
    position: relative;

}
#eyeIcon{
    position: absolute;
    right: 15px; 
    top: 40%; 
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    color: #6a6a6a;
    font-size: 14px;
}
.logo{
    display: flex;
    justify-content: center;
}
.logo img{
    width: 70px;
    margin-top: 10px;
}
.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-container input[type="password"],
.password-container input[type="text"] {
    width: 100%;
    padding-right: 30px; /* Space for the eye icon */
}

.password-toggle-icon {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
    color: #999;
}

.password-toggle-icon:hover {
    color: #333;
}

